.InfoPanelContainer {
  flex: 1;
  margin-top: -6rem;
  text-align: center;
  color: white;
}

.LoginInputContainer {
  flex: 1;
}

.login-input-container {
  margin-top: 20px;

}

.LoginButton {
  border-radius: 100px;
  padding: .5rem;
  border: 1px rgb(91, 190, 255) solid;
  color: rgb(91, 190, 255);
  padding-right: 125px;
  padding-left: 125px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  display: block;
}

.SignUp {
  background-color: rgb(91, 190, 255);
  color: white;
  border: 1px white solid;
}

.LoginButton:focus {
  outline: none;
}
